## Section 1 - Elements of Pandas

The Pandas library for python is an immensely popular library to perform data analysis. As anyone familiar with coding will tell you, the preparatory steps to performing data analysis can be a long and tedious one. Using the pandas libraries, we can drastically reduce the length and complexity of code required to read,manipulate and perform data analytics. 

While theory and background are essential to expanding one's understanding of what is happening behind the scenes, it is
imperative to get hands-on to learn and understand data analysis. So let's get started and we will understand as we go along.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#to display graphical output using jupyter's built-in support
%matplotlib inline

In [7]:
#let's use the pandas built-in function to read a datafile in the csv format
movie = pd.read_csv('data/movie.csv')

#pandas use a native 'dataframe' format to store and manipulate data. 
#the dataframe format is built on top of the numpy library which is bundled with almost all python environments

In [8]:
#we have created a new dataframe (DF) called 'movie'. 
#the movie DF has data which was read from the movie.csv file

In [9]:
#let's check out the data
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

In [10]:
#it has 28 columns (called dimensions, or features, or attributes) and the first 5 rows of the data are displayed here
#similarly we can also check out the last 5 rows
movie.tail()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,...,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,...,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,...,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,...,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,...,23.0,6.6,1.85,456

In [11]:
#we can also check out the total elements in the DF
movie.shape

#it has 28 columns and 4916 rows (also called entries or measures, depending on context)

(4916, 28)

In [13]:
#to check out all the column names we can use
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [15]:
#we notice that each row is identified by an index starting at 0, ending at 4916 with a step of 1
movie.index

RangeIndex(start=0, stop=4916, step=1)

In [26]:
#we can extract these categories and examine it separately
index = movie.index
columns = movie.columns
data = movie.values

In [27]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [28]:
values

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [32]:
data
#the data so extracted is no longer in the form of a DF, but is stored as a numpy array

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [34]:
#we can check out the datatype using
type(data)

#it indicates that the data is stored as an n-dimensional numpy array

numpy.ndarray

In [36]:
#however, the other two extracts are stored in the native pandas format
type(columns)

pandas.core.indexes.base.Index

In [37]:
type(index)

pandas.core.indexes.range.RangeIndex

In [40]:
#while the values within the extract are stored as a numpy array
type(index.values)

numpy.ndarray

#### Data types in Pandas

In [42]:
movie.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [44]:
#so here we see three datatypes within the DF: integer64, float64 and object (in this case string)

In [46]:
#but how many of each? 
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

In [47]:
#13+3+12 = 28 fields in all

#### Select a single column of a DF

In [51]:
movie['actor_1_name']

0           CCH Pounder
1           Johnny Depp
2       Christoph Waltz
3             Tom Hardy
4           Doug Walker
             ...
4911        Eric Mabius
4912        Natalie Zea
4913        Eva Boehnke
4914          Alan Ruck
4915        John August
Name: actor_1_name, Length: 4916, dtype: object

In [54]:
#or use this syntax
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [55]:
#extract the required series and store it into a new variable
actor1_name = movie.actor_1_name

In [59]:
#we notice that this extract does not look like a pandas dataframe we're familiar with
actor1_name

0           CCH Pounder
1           Johnny Depp
2       Christoph Waltz
3             Tom Hardy
4           Doug Walker
             ...
4911        Eric Mabius
4912        Natalie Zea
4913        Eva Boehnke
4914          Alan Ruck
4915        John August
Name: actor_1_name, Length: 4916, dtype: object

In [64]:
#but we can convert it into a dataframe using
actor1_name = pd.DataFrame(actor1_name)

In [66]:
actor1_name.head()

      actor_1_name
0      CCH Pounder
1      Johnny Depp
2  Christoph Waltz
3        Tom Hardy
4      Doug Walker

In [74]:
#a number of operations can be performed when data is stored in pandas DF 
#this includes reading files, writing files, values, counts etc.

#so how many different operations can we peform?
len(dir(pd.Series))

464

In [75]:
#a pretty cool 464!

In [76]:
#let's check out what all is there in the director column
director = movie.director_name

In [78]:
#how many unique names?
director.value_counts()

Steven Spielberg        26
Woody Allen             22
Martin Scorsese         20
Clint Eastwood          20
Spike Lee               16
                        ..
Brandon Cronenberg       1
Olivier Dahan            1
Bobby Roth               1
Michael Clancy           1
Piyush Dinker Pandya     1
Name: director_name, Length: 2397, dtype: int64

In [87]:
#but, are there any missing values in the director column?
director.count()

#so the director column has only 4814 values (out of a total 4916), the rest seem to be missing

4814

In [119]:
#how many missing?
sum(director.isnull())

102

In [120]:
#a quick check for missing values can be done using
director.hasnans

True

In [117]:
#the duration column indicates the length of a movie in minutes
movie['duration']

0       178.0
1       169.0
2       148.0
3       164.0
4         NaN
        ...
4911     87.0
4912     43.0
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4916, dtype: float64

In [118]:
#the duration of movie and the director name can be extracted together
movie[['director_name','duration']]

#NaN indicates a missing value

          director_name  duration
0         James Cameron     178.0
1        Gore Verbinski     169.0
2            Sam Mendes     148.0
3     Christopher Nolan     164.0
4           Doug Walker       NaN
...                 ...       ...
4911        Scott Smith      87.0
4912                NaN      43.0
4913   Benjamin Roberds      76.0
4914        Daniel Hsia     100.0
4915           Jon Gunn      90.0

[4916 rows x 2 columns]

### A few operators to know about at this stage...

In [129]:
#add two strings
'jack' + ' and jill'

'jack and jill'

In [134]:
4 >= 7

False

In [135]:
not 4 >= 7

True

In [136]:
6 in [4, 2, 7, 6, 8]

True

In [140]:
set([5,6,7,8,9]) & set([4,7,8,5])

{5, 7, 8}

In [144]:
#let's check out some operators on a numeric field 
imdb_rating = movie['imdb_score']
imdb_rating.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [148]:
#various arithmatic operations can be performed on the extracted imdb_rating data
imdb_rating**(1/2) #e.g. taking square root of rating for each row

0       2.810694
1       2.664583
2       2.607681
3       2.915476
4       2.664583
          ...
4911    2.774887
4912    2.738613
4913    2.509980
4914    2.509980
4915    2.569047
Name: imdb_score, Length: 4916, dtype: float64

In [173]:
#or finding the floor division
imdb_rating // 5

# a // b Quotient when a is divided by b, rounded to the next smallest whole number

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4911    1.0
4912    1.0
4913    1.0
4914    1.0
4915    1.0
Name: imdb_score, Length: 4916, dtype: float64

In [152]:
#or using a boolean operator
imdb_rating < 7.5

0       False
1        True
2        True
3       False
4        True
        ...
4911    False
4912    False
4913     True
4914     True
4915     True
Name: imdb_score, Length: 4916, dtype: bool

In [154]:
#or multiply using the pandas functions
imdb_rating.multiply(2)

0       15.8
1       14.2
2       13.6
3       17.0
4       14.2
        ...
4911    15.4
4912    15.0
4913    12.6
4914    12.6
4915    13.2
Name: imdb_score, Length: 4916, dtype: float64

In [172]:
imdb_rating.astype(int).mod(5)

0       2
1       2
2       1
3       3
4       2
       ..
4911    2
4912    2
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int32

In [182]:
#mean imdb rating 
imdb_rating.mean()

6.4374288039056085

In [183]:
imdb_rating.hasnans

False

#### Making sense with index

In [189]:
movie2 = movie.copy()

In [190]:
#set the movie title as the index
movie2 = movie.set_index('movie_title')

In [191]:
movie2

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,...,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,...,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,...,23.0,6.6,1.85,456

In [194]:
#we can go back with reset index function
movie2.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,...,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,...,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,...,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,...,23000.0,8.5,2.35,164000
4,Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,...,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...
4911,Signed Sealed Delivered,Color,Scott Smith,1.0,...,470.0,7.7,NaN,84
4912,The Following,Color,NaN,43.0,...,593.0,7.5,16.00,32000
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,...,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,...,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,...,23.0,6.6,1.85,456

In [196]:
movie2 = movie.set_index('movie_title')

In [197]:
#We can also rename indexes and columns. It'll be faster and handy to create dictionary since we have many columns
index_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'}

col_rename = {'director_name':'Director Name', 
              'num_critic_for_reviews': 'Critical Reviews'}

In [200]:
movie2.rename(index=index_rename, 
             columns=col_rename).head()

,color,Director Name,Critical Reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

#### Create and delete columns

In [205]:
#add a new column to indicate whether the movie has been watched by an imdb rater

movie2['Watched'] = 0

In [206]:
movie2.head()

,color,director_name,num_critic_for_reviews,duration,...,imdb_score,aspect_ratio,movie_facebook_likes,Watched
movie_title,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,...,7.9,1.78,33000,0
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,7.1,2.35,0,0
Spectre,Color,Sam Mendes,602.0,148.0,...,6.8,2.35,85000,0
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,8.5,2.35,164000,0
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,7.1,NaN,0,0

In [211]:
movie2['actor_director_facebook_likes'] = (movie2['actor_1_facebook_likes'] + 
                                              movie2['actor_2_facebook_likes'] + 
                                              movie2['actor_3_facebook_likes'] + 
                                              movie2['director_facebook_likes'])

In [215]:
movie2['actor_director_facebook_likes'].isnull().sum()

122

In [217]:
#fill all the missing values with 0
movie2['actor_director_facebook_likes'].fillna(0)

movie_title
Avatar                                         2791.0
Pirates of the Caribbean: At World's End      46563.0
Spectre                                       11554.0
The Dark Knight Rises                         95000.0
Star Wars: Episode VII - The Force Awakens        0.0
                                               ...
Signed Sealed Delivered                        1427.0
The Following                                     0.0
A Plague So Pleasant                              0.0
Shanghai Calling                               2154.0
My Date with Drew                               141.0
Name: actor_director_facebook_likes, Length: 4916, dtype: float64

In [219]:
#update the table with the filled values
movie2['actor_director_facebook_likes'] = movie2['actor_director_facebook_likes'].fillna(0)

In [221]:
movie2['is_cast_likes_more'] = (movie2['cast_total_facebook_likes'] >= 
                                  movie2['actor_director_facebook_likes'])

In [224]:
movie2['is_cast_likes_more'].all()

False